* {
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: large;
}

canvas {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.navbar {
  height: 9vh;
}

.navbar > .container > a {
  display: flex;
  align-items: center;
}

.brand {
  color: black;
  font-size: large;
  font-weight: bold;
}

.image-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.randomize-button {
  color: white;
  background-color: #5d7a50;
  border-radius: 10px;
  padding-left: 5rem;
  padding-right: 5rem;
}

#quote-mods {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.form-area {
  display: flex;
  flex-direction: column;
}

label {
  padding: 0.5rem;
  font-weight: bold;
}

select {
  background-color: #86ad74;
  border: hidden;
  border-radius: 5px;
  padding: 0.25rem;
}

select:focus {
  outline: none;
}

option {
  cursor: pointer;
  font-weight: bold;
}

.keep-button {
  padding: 0.25rem;
  margin: 0.5rem;
  background-color: lightgray;
  border: outset;
  border-radius: 5px;
}

button[data-toggle=on] {
  border: inset;
  background-color: #b76e79;
}

.loading {
  background-color: yellow;
}

/* loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
