* {
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

canvas {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.navbar {
  height: 10vh;
}

.navbar > .container > a {
  display: flex;
  align-items: center;
}

.brand {
  color: black;
  font-size: large;
  font-weight: bold;
}

.image-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
